:root {
    --font-size-large: 16px;
    --font-size-medium: 14px;
    --font-size-small: 12px;
    --font-weight-bold: 600;
    --font-weight-light: 400;
}

body {
    margin: 0;
}

header {
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: white;
    width: 100%;
    padding: 14px 28px;
    box-sizing: border-box;
}

nav>img {
    width: 40px;
}

.menu-item {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    Font-Family: 'Poppins', sans-serif;
    Color: black;
    cursor: pointer;
    margin-right: 24px;
    padding: 8px 0;
}

.dropdown-wrapper {
    display: inline-block;
    position: relative;
}

.dropdown {
    width: 150px;
    right: 24px;
    display: none;
    position: absolute;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid rgb(170, 210, 54);
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
}

.dropdown-wrapper:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
}

.dropdown a:last-child {
    border: none;
}

.dropdown a:hover {
    background-color: bisque;
}

.Buy-Now-Button {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: white;
    background-color: rgb(170, 210, 54);
    text-transform: uppercase;
    Padding: 9px 34px;
    border: none;
    border-radius: 4px;
    margin-right: 14px;
    cursor: pointer;
}

.main-heading {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading h1 {
    max-width: 1100px;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
}

.main-heading p {
    max-width: 1100px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-medium);
    letter-spacing: 0.5px;
    font-weight: var(--font-weight-light);
    Color: #8b8b99;
    text-align: center;
}

.steps-section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.steps-section h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: 24px;
}

.steps-section p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: var( --font-size-medium);
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.steps-section i {
    font-size: 96px;
    color: white;
}

.steps-box {
    width: 25%;
    text-align: center;
    padding: 112px 48px;
}

.steps-box:hover .step-icon {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}

.step-1 {
    background-color: #5acda6;
}

.step-2 {
    background-color: #91ac41;
}

.step-3 {
    background-color: #e4b476;
}

.step-4 {
    background-color: #f69dad;
}

.store-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f7eee2;
}

.fresh-food {
    color: #91ac41;
    font-size: 24px;
    text-align: center;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

.vegan-head {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    text-align: center;
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding-bottom: 8px;
}

.vegan-desc {
    max-width: 700px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-large);
    font-weight: 500;
    text-align: center;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.store-section i {
    font-size: 60px;
}

.icon {
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    display: inline-block;
}

.store-item:hover .icon {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}

.vegan-store-wrapper {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.vegan-store-wrapper h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}

.vegan-store-wrapper p {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-large);
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}

.store-item {
    width: 25%;
    text-align: center;
    padding: 24px;
}

.shop-section {
    background-color: white;
    padding-bottom: 75px;
    padding-top: 75px;
}

.test-wrapper {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.test-card {
    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.test-card:hover {
    transform: box-shadow 0.3s;
}

.test-card img {
    width: 80px;
    border-radius: 50%;
}

.test-desc {
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin: 0;
}

.test-name {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}

.test-role {
    color: #8b8b99;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    letter-spacing: 0.5px;
}

.subscribe-section {
    display: flex;
}

.image {
    width: 67%;
}

.image img {
    width: 100%;
}

.follow-us {
    width: 33.33%;
    text-align: center;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
    background-size: cover;
}

.follow-us-wrapper {
    margin: 115px;
}

.follow-us-wrapper h3 {
    font-size: 44px;
    font-weight: var(--font-weight-bold);
    font-family: 'Poppins', sans-serif;
    margin: 0 0 8px;
}

.follow-us-wrapper p {
    color: #8b8b99;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.6;
}

#email {
    width: 100%;
    border-radius: 4px;
    margin-top: 60px;
    border: 0;
    font-size: var(--font-size-large);
    background-color: white;
    color: #8b8b99;
    padding: 12px;
    font-weight: 500;
}

#email:focus {
    border: 1px solid white;
}

#sub-button {
    padding: 16px 42px;
    color: white;
    background-color: #f69dad;
    border-radius: 4px;
    margin-top: 16px;
    border: 1px solid #f69dad;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

#sub-button:hover {
    background-color: transparent;
    color: #f69dad;
}

.stats-section {
    background-color: #f6fcfa;
}

.stats-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 100px 0;
}

.stats-item {
    width: 25%;
}

.stats-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin: 0;
    font-weight: 600;
}

.stats-item p {
    color: #57e3b5;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-medium);
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
}

.video-section h3 {
    font-family: 'Poppins', sans-serif;
    color: #8b8b99;
    font-size: 44px;
    font-weight: var(--font-weight-light);
}